form {
  border: 2px solid blue;
  border-radius: 10px;
  width: 60%;
  margin: 20px auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1 {
  color: blue;
  text-align: center;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container-radio,
.container-chackbox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input:not(input[type="radio"], input[type="checkbox"]){
    height: 35px;
    border: 2px solid blue;
    padding: 5px;
}

textarea{
    height: 300px;
    border: 2px solid blue;
    padding:  15px;
}
