@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --cor-primaria: rgb(17, 0, 255);
    font-family: 'Quicksand', sans-serif;

}

.cabecalho{
    height: 30px;
    background: rgb(9,9,121);
    background: linear-gradient(22deg, rgba(9,9,121,1) 0%, rgba(5,96,179,1) 30%, rgba(0,212,255,1) 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.menu ul li a:hover{
    color: red;
}

.rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
        
    height: 80px;
    background: rgb(9,9,121);
    background: linear-gradient(22deg, rgba(9,9,121,1) 0%, rgba(5,96,179,1) 30%, rgba(0,212,255,1) 90%);
} 

.informacoes-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.redes-sociais{
    display: flex;
    gap: 25px;
}

.redes-sociais a img{
    width: 50px;

}